body {
    background: #000;
}
#sidePanel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
}
#roomSizeDiv {
    display: inline;
    font-size: 24pt;
    color: #ffefef;
}
label {
    font-size: 24pt;
    color: #ffefef;
}
button {
    font-size: 20pt;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
}
#optionsButton {
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}
#shapeRow {
    margin-bottom: 40px;
}
.optionRow {
    margin-bottom: 20px;
}
.roomSizeLabel {
    margin-left: 10px;
    margin-right: 10px;
}
.disabledDiv {
    pointer-events: none
    opacity: 0.4
}